body {
  background-color: #7A8B8B;
}

.container {
  background-color: #FFF;
}

#showLocation {
  display: none;
}

.jumbotron {
  text-align: center;
  background-image: url("http://www.nationsonline.org/maps/political_world_map3000.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  padding-top: 130px;

}
img {
  width: 400px;
}

.locationsList li {
  color: blue;
  margin-top: 10px;
}

.locationsList li:hover {
  cursor: pointer;
  text-decoration: underline;
}
